@mixin btn($color:green) {
  border: none;
  background-color: #fff;
  //position: relative;
  //height: 2.4rem;
  min-width: 2.4rem;
  padding: 3px;
  text-align: center;
  display: inline-block;
  color: rgba(0, 0, 0, .7);

  & i {
    font-size: 1.8rem;
    //color: #eee;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
    color: $color;
  }

  &:hover {
    background: $color-grey-light-3;
    cursor: pointer;
    border-radius: 50%;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin col-row-resize() {
  position: absolute;
  bottom: 0;
  right: 0;
  background: $color-cell-selected-outline-blue;
  opacity: 0;
  z-index: 1000;

  &:hover {
    opacity: 1 !important;
  }
}
