$font-primary: 'Roboto', sans-serif;

$color-grey-light-1: #BDBDBD;
$color-grey-light-2: #E0E0E0;
$color-grey-light-3: #EEEEEE;

$color-grey-dark: #757575;
$color-grey-dark-2: #888;

$color-cells: #c0c0c0;
$color-cell-info: #f8f9fa;

$color-cell-selected-outline-blue: #2979FF;

$header-height: 3.4rem;
$toolbar-height: 4rem;
$formula-height: 2.4rem;
$dashboard-height: 6.4rem;
$dashboard-new-height: 7.5rem;
$row-height: 2.4rem;
$cell-width: 12rem;

$info-cell-width: 4rem;

$cell-default-font-size:1.2rem;
$default-font-size: 1.6rem;

$box-shadow-header: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
$box-shadow-element: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
